<h1>estas en guarderia - edit</h1>

<h2>Edit
  <%= user.username %> 's profile</h2>

<form action="/guarderias/edit" method="POST" id="form-container">
  <div class="form-row align-items-center mx-auto" style="width: 800px;">
    <div class="col-auto">
      <label for="firstname">Name</label>
      <input class="fsr-only" id="guarderia-name" type="text" name="name" value='<%= user.name %>'>
    </div>
    <div class="col-auto">
      <label for="lastname">Description</label>
      <input class="fsr-only" id="guarderia-description" type="text" name="description" value='<%= user.description %>'>
    </div>
    <div class="col-auto">
      <label for="street">Calle</label>
      <input class="fsr-only" id="guarderia-street" type="text" name="street" value='<%= user.address.street %>'>
    </div>
    <div class="col-auto">
      <label for="number">Número</label>
      <input class="fsr-only" id="guarderia-streetnumber" type="text" name="streetnumber" value='<%= user.address.number %>'>
    </div>
    <div class="col-auto">
      <label for="postcode">Código Postal</label>
      <input class="fsr-only" id="guarderia-postcode" type="text" name="postcode" value='<%= user.address.postcode %>'>
    </div>
    <div class="col-auto">
      <label for="city">Ciudad</label>
      <input class="fsr-only" id="guarderia-city" type="text" name="city" value='<%= user.address.city %>'>
    </div>

    <!-- Añadidos dos campos ocultos para guardar la latitud y la longitud del jquery-user al server -->
    <input hidden id="latitude" type="" name="latitude" value='<%= user.address.coordinates[1] %>'>
    <input hidden id="longitude" type="" name="longitude" value='<%= user.address.coordinates[0] %>'>
    <div class="col-auto" id="verifyAddressBlock">
      <button type="submit" id="verifyAddress" class="btn btn-primary">Verify address</button>
      <p id="found" style="display: none;">La dirección es correcta</p>
      <p id="not-found" style="display: none;">La dirección no es correcta, prueba otra vez</p>      
    </div>

    <div class="col-auto">
      <label for="telephone">Teléfono</label>
      <input class="fsr-only" id="guarderia-telephone" type="text" name="telephone" value='<%= user.telephone %>'>
    </div>
    <div class="col-auto">
      <label for="email">E-mail</label>
      <input class="fsr-only" id="guarderia-email" type="text" name="email" value='<%= user.email %>'>
    </div>

    <!-- <div class="col-auto">
      <label for="children">Children</label>
      <input class="fsr-only" id="user-lastname" type="number" name="children" placeholder= <%= user.children %>>
    </div> -->
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
  </div>
  <% if (typeof message !== "undefined") { %>
    <div class="error-message">
      <%= message %>
    </div>
    <% } %>
      </div>
</form>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmAaV_00mo5m_4oF2s67nGkGpdjn2dYpw"></script>
<script type="text/javascript" src="/javascripts/map-guarderia.js"></script>