<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-2">
      </br>
      </br>
      <section>
        <div class="owner">
          <div class="avatar">
            <img src="<%= user.profilepic_path %>" alt="Circle Image" class="img-circle img-no-padding img-responsive" />
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-10 d-flex align-items-center">
      <h2>
        <%= user.username %>, edita tu perfil</h2>
    </div>
  </div>
  <hr>
  <div class="row justify-content-center">
    <h4>Actualiza tu foto de perfil</h4>
  </div>
  <br>
  <form action="/guarderias/upload" method="post" enctype="multipart/form-data">
    <div class="row justify-content-center">
      <div class="col-md-4 ">
        <div class="input-group">
          <div class="custom-file">
            <input type="text" name="name">
            <input type="file" name="photo" class="custom-file-input" id="inputGroupFile04">
            <label class="custom-file-label" for="inputGroupFile04">Elegir archivo</label>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-items-end">
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-primary btn-block ">Guardar foto de perfil</button>
        </div>
      </div>
      <% if (typeof message !== "undefined") { %>
        <div class="error-message">
          <%= message %>
        </div>
        <% } %>
    </div>
  </form>
  <div class="container">
    <form action="/guarderias/edit" method="POST" id="form-container">
      <div class="row justify-content-center">
        <h4>Información</h4>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="row"></div>
        <div class="col-sm-4">
          <label for="firstname">Name</label>
          <input class="form-control" id="guarderia-name" type="text" name="name" value='<%= user.name %>'>
          </br>
          <label for="lastname">Description</label>
          <textarea class="form-control" id="guarderia-description" type="text" name="description" rows="4" placeholder="Describe tu guardería"
            value='<%= user.description %>'></textarea>
        </div>
        <div class="col-md-4">
          <label for="website">Página web</label>
          <input class="form-control" id="guarderia-website" type="text" name="website" value='<%= user.website %>'>
          <label for="email">E-mail</label>
          <input class="form-control" id="guarderia-email" type="text" name="email" value='<%= user.email %>'>
          </br>
          <label for="telephone">Teléfono</label>
          <input class="form-control" id="guarderia-telephone" type="text" name="telephone" value='<%= user.telephone %>'>
        </div>
      </div>
      <div class="row justify-content-center">
        <h4>Dirección</h4>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <label for="street">Calle</label>
          <input class="form-control" id="guarderia-street" type="text" name="street" value='<%= user.address.street %>'>
          </br>
          <label for="postcode">Código Postal</label>
          <input class="form-control" id="guarderia-postcode" type="text" name="postcode" value='<%= user.address.postcode %>'>
          <div class="col-auto" id="verifyAddressBlock">
            </br>
            <p id="found" style="display: none;">La dirección es correcta</p>
            <p id="not-found" style="display: none;">La dirección no es correcta, prueba otra vez</p>
          </div>
        </div>
        <div class="col-md-4">
          <label for="number">Número</label>
          <input class="form-control" id="guarderia-streetnumber" type="text" name="streetnumber" value='<%= user.address.number %>'>
          </br>
          <label for="city">Ciudad</label>
          <input class="form-control" id="guarderia-city" type="text" name="city" value='<%= user.address.city %>'>
          <!-- Añadidos dos campos ocultos para guardar la latitud y la longitud del jquery-user al server -->
          <input hidden id="latitude" type="" name="latitude" value='<%= user.address.coordinates[1] %>'>
          <input hidden id="longitude" type="" name="longitude" value='<%= user.address.coordinates[0] %>'>
          </br>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-3">
          <button type="submit" id="verifyAddress" class="btn btn-block btn-outline-primary">Verifica tu dirección</button>
        </div>
      </div>
      <div class="row justify-content-center">
        <h4>Idiomas</h4>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-md-2">
          <input type="checkbox" id="guaderia-spanish" name="spanish" '<% if(user.services.spanish) { %>' checked '<%} %>'> Español
        </div>
        <div class="col-md-2">
          <input type="checkbox" id="guaderia-english" name="english" '<% if(user.services.english) { %>' checked '<%} %>'> Inglés
        </div>
        <div class="col-md-2">
          <input type="checkbox" id="guaderia-german" name="german" '<% if(user.services.german) { %>' checked '<%} %>'> Alemán
        </div>
      </div>

      <div class="row justify-content-center">
        <h4>Servicios</h4>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-md-2">
          <input type="checkbox" id="guarderia-garden" name="garden" '<% if(user.services.garden) { %>' checked '<%} %>'> Jardín
        </div>
        <div class="col-md-2">
          <input type="checkbox" id="guaderia-swimming_pool" name="swimming_pool" '<% if(user.services.swimming_pool) { %>' checked
            '<%} %>'> Piscina
        </div>
        <div class="col-md-2">
          <input type="checkbox" id="guaderia-kitchen" name="kitchen" '<% if(user.services.kitchen) { %>' checked '<%} %>'> Cocina
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-2">
          <input type="checkbox" id="guaderia-extra_hours" name="extra_hours" '<% if(user.services.extra_hours) { %>' checked
            '<%} %>'> Horas extra
        </div>
        <div class="col-lg-2">
          <input type="checkbox" id="guaderia-parking_carrito" name="parking_carrito" '<% if(user.services.parking_carrito) { %>' checked
            '<%} %>'> Parking
        </div>
        <div class="col-md-2">
          <input type="checkbox" id="guaderia-locker" name="locker" '<% if(user.services.locker) { %>' checked '<%} %>'> Taquilla individual
        </div>
      </div>
      </br>
      </br>
      <div class="row justify-content-center">
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary btn-block btn-lg">Guardar cambios</button>
          <% if (typeof message !== "undefined") { %>
            <div class="error-message">
              <%= message %>
            </div>
            <% } %>
        </div>
      </div>
    </form>

    <div class="row justify-content-center">
      <h4>Carga más imagenes</h4>
    </div>
    <br>
    <form action="/guarderias/uploadpictures" method="post" enctype="multipart/form-data">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="input-group">
            <div class="custom-file">
              <input type="text" name="name">
              <input type="file" name="photo" class="custom-file-input" id="inputGroupFile04">
              <label class="custom-file-label" for="inputGroupFile04">Elegir archivo</label>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-items-end">
          <div class="input-group-append">
            <button type="submit" class="btn btn-outline-primary btn-block">Guardar imagen</button>
          </div>
        </div>
      </div>
    </form>
    <div class="row justify-content-center">
      <h4>Galería</h4>
    </div>
    <br>
    <div class="row">
      <div class=" w-50 p-3 d-flex align-items-end">
        <%user.otherpics.forEach(function(path, index, array){ %>
          <div class="col-md-4">
            <div class="thumbnail">
              <img src='<%= path %>' alt="Lights" style="width:100%">
              <a href="/guarderias/deletepicture/<%= index %>" class="btn btn-outline-danger" role="button">Delete picture</a>
            </div>
          </div>
          <% }) %>
      </div>
    </div>
  </div>



  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASqvdUmBMrb4nRgdJfkT7WlhOGA1VKTOw"></script>
  <script type="text/javascript" src="/javascripts/guarderia-geocode.js"></script>