<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <%guarderia.otherpics.forEach(function(path, index, array){ %>
        <%if(index === 0) { %>
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <% } else { %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%=index%>"></li>
            <% }}) %>
    </ol>
    <div class="carousel-inner">
      <%guarderia.otherpics.forEach(function(path, index, array){ %>
        <%if(index === 0) { %>
          <div class="carousel-item active">
            <img class="d-block w-100" src="<%=path%>">
          </div>
          <% } else { %>
            <div class="carousel-item">
              <img class="d-block w-100" src="<%=path%>">
            </div>
            <% }}) %>
    </div>
  </div>
  
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card-body">
        <h1>
          Hola,
          <%=guarderia.name%>
        </h1>
        <div id="address" class="h5">Dirección:
          <%=guarderia.address.street%>
            <%=guarderia.address.number%>
              <%=guarderia.address.postcode%>
                <%=guarderia.address.city%>
        </div>

        <h4 id="facilities">Facilidades</h4>
        <div class="row">
          <div class="col-md-4">
            <p>Jardín
              <%=guarderia.facilities.garden%>
            </p>
          </div>
          <div class="col-md-4">
            <p>Piscina
              <%=guarderia.facilities.swimming_pool%>
            </p>
          </div>
        </div>
        <a href="/guarderias/edit">Edit profile</a>
        <hr>
        <h5> Los siguientes usuarios han comentado tu perfil:
        </h5>
        <div id="container">
          <% if (opinions.length > 0) { %>
            <% opinions.forEach(function(opinion) { %>
              <div>
                <a href="/users/profile/<%= opinion.user_name %>">
                  <%= opinion.user_name %> dice:
                </a>
                <br>
                <h5>
                  <%= opinion.comment %>
                </h5>
                <p>Puntuación:
                  <%= opinion.star_ranking %> estrellas.
                </p>
                <p class="date">Comentado el
                  <%= moment(opinion.created_at).format("LL, LTS") %>
                </p>
              </div>
              <% }) %>
                <% } else { %>
                  <div>
                    <p>@
                      <%= guarderia.username %> aún no tienes comentarios.</p>
                  </div>
                  <% } %>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      </br>
      </br>
      </br>
      <div id="map-profile" class="map-profile"></div>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASqvdUmBMrb4nRgdJfkT7WlhOGA1VKTOw"></script>
<script type="text/javascript" src="/javascripts/map-profile-guarderia.js"></script>