<!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
<div class="card-body">
  <h1>Welcome
    <%=guarderia.name%>
  </h1>
  <div id="address">Address:
    <%=guarderia.address.street%>
      <%=guarderia.address.number%>
        <%=guarderia.address.postcode%>
          <%=guarderia.address.city%>
  </div>
  <h3 id="facilities">Facilities:</h1>
    <p>Jardín
      <%=guarderia.facilities.garden%>
    </p>
    <p>Piscina
      <%=guarderia.facilities.swimming_pool%>
    </p>
</div>
<div class="container-fluid">
  <div id="map-profile" class="map-profile"></div>
  <h2> Comentarios acerca de
    <%=guarderia.username%>
  </h2>
  <div id="container">
    <% if (opinions.length > 0) { %>
      <% opinions.forEach(function(opinion) { %>
        <div>
          <strong>
            <%= opinion.user_name %> dice:
          </strong>
          <br>
          <p><%= opinion.comment %>
          </p> 
          <p>Puntuación: <%= opinion.star_ranking %> estrellas.
          </p>
          <p class="date">Comentado el 
            <%= moment(opinion.created_at).format("LL, LTS") %>
          </p>
        </div>
        <% }) %>
          <% } else { %>
            <div>
              <p>@
                <%= guarderia.username %> no tiene comentarios aún.</p>
            </div>
            <% } %>
  </div>
  <div id="container">
    <form action="/guarderias/profile/<%=guarderia._id%>" method="POST" id="new-opinion">
      <label for="commentText">Nuevo comentario:</label>
      <input type="text" name="commentBody" placeholder="Escribe aquí tu opinión">
      <input type="number" name="starsRanking" placeholder="De 1 a 5">
      <button class="button blue fright">Comentar</button>
    </form>
    <br>
    <% if ( typeof(error) != "undefined") { %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
      <% } %>
        <br>
  </div>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASqvdUmBMrb4nRgdJfkT7WlhOGA1VKTOw"></script>
  <script type="text/javascript" src="/javascripts/map-profile-guarderia.js"></script>